version: "3.8"
services:
  solr:
    image: solr:latest
    ports:
      - "8983:8983"
    volumes:
      #- ./services/solr/violaciones_cev_core/conf:/var/solr/data/violaciones_cev_core/conf
      - solr-db:/var/solr
      - ./data/corpus:/data/corpus  # Montamos tu carpeta local
    command: >
      bash -c "
      solr-precreate violaciones_cev_core &&
      echo 'Esperando a que Solr esté listo...' &&
      until curl -s http://localhost:8983/solr/violaciones_cev_core/admin/ping | grep -q 'OK'; do sleep 10; done &&
      echo 'Indexando corpus JSONL...' &&
      curl -s -X POST -H 'Content-Type: application/json' --data-binary @/data/corpus/books_for_solr.jsonl \
        'http://localhost:8983/solr/violaciones_cev_core/update?commit=true' &&
      echo 'Indexación completa.
      "
    restart: unless-stopped

  doccano:
    image: doccano/doccano
    container_name: doccano
    environment:
      ADMIN_USERNAME: admin
      ADMIN_EMAIL: morenoluis@javeriana.edu.co
      ADMIN_PASSWORD: admin123&
    volumes:
      - doccano-db:/data
    ports:
      - "8000:8000"
    restart: unless-stopped

# --- Milvus (vector database) ---
  milvus:
    container_name: milvus
    image: milvusdb/milvus:v2.3.4 #2.3.5
    command: ["milvus", "run", "standalone"]
    depends_on:
      - etcd
      - minio
    ports:
      - "19530:19530" # gRPC
      - "9091:9091"   # HTTP
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MILVUS_LOG_LEVEL: debug
      DATA_NODE_DATA_PATH: /var/lib/milvus
    volumes:
      - ./volumes/milvus:/var/lib/milvus
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:9091/healthz"]
        interval: 30s
        timeout: 20s
        retries: 3
    restart: always
    
  etcd:
      container_name: milvus-etcd
      image: quay.io/coreos/etcd:v3.5.5
      environment:
        - ETCD_AUTO_COMPACTION_MODE=revision
        - ETCD_AUTO_COMPACTION_RETENTION=1000
        - ETCD_QUOTA_BACKEND_BYTES=4294967296
        - ETCD_SNAPSHOT_COUNT=50000
        - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
        #- ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
        #- ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
        - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd:2380
        - ETCD_INITIAL_CLUSTER=etcd=http://etcd:2380
        - ETCD_INITIAL_CLUSTER_STATE=new
        - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
        - ETCD_NAME=etcd
      volumes:
        - ./volumes/etcd:/etcd
      command: >
        etcd -advertise-client-urls http://etcd:2379
             -listen-client-urls http://0.0.0.0:2379
      ports:
        - "2379:2379"
  
  minio:
      container_name: milvus-minio
      image: minio/minio:RELEASE.2023-12-09T18-17-51Z
      environment:
        - MINIO_ROOT_USER=minioadmin
        - MINIO_ROOT_PASSWORD=minioadmin
      ports:
        - "9000:9000"
        - "9001:9001"
      command: server /data --console-address ":9001"
      volumes:
        - minio_data:/data
      restart: always  

      # --- Servicio embeddings para cargar corpus en Milvus ---
  embeddings:
          container_name: milvus-embeddings
          build:
            context: ./services/embeddings
            dockerfile: Dockerfile
          depends_on:
            - milvus
          environment:
            - MILVUS_HOST=milvus
            - MILVUS_PORT=19530
          volumes:
            - ./data:/app/data
          ports:
            - "8001:8001"

volumes:
  solr-db:
  doccano-db:
  milvus-data:
  etcd_data:
  minio_data:
      
