version: "3.8"
services:
  solr:
    image: solr:latest
    ports:
      - "8983:8983"
    volumes:
      #- ./services/solr/violaciones_cev_core/conf:/var/solr/data/violaciones_cev_core/conf
      - solr-db:/var/solr
      - ./data/corpus:/data/corpus  # Montamos tu carpeta local
    command: >
      bash -c "
      solr-precreate violaciones_cev_core &&
      echo 'Esperando a que Solr esté listo...' &&
      until curl -s http://localhost:8983/solr/violaciones_cev_core/admin/ping | grep -q 'OK'; do sleep 10; done &&
      echo 'Indexando corpus JSONL...' &&
      curl -s -X POST -H 'Content-Type: application/json' --data-binary @/data/corpus/books_for_solr.jsonl \
        'http://localhost:8983/solr/violaciones_cev_core/update?commit=true' &&
      echo 'Indexación completa.
      "
    restart: unless-stopped

  doccano:
    image: doccano/doccano
    container_name: doccano
    environment:
      ADMIN_USERNAME: admin
      ADMIN_EMAIL: morenoluis@javeriana.edu.co
      ADMIN_PASSWORD: admin123&
    volumes:
      - doccano-db:/data
    ports:
      - "8000:8000"
    restart: unless-stopped

# --- Milvus (vector database) ---
  milvus:
    image: milvusdb/milvus:2.6.4
    container_name: milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    environment:
      MILVUS_LOG_LEVEL: info
    volumes:
      - milvus-data:/var/lib/milvus
    restart: unless-stopped
    
      # --- Servicio embeddings para cargar corpus en Milvus ---
  embeddings:
    image: python:3.10-slim
    container_name: embeddings
    volumes:
      - ./data/corpus:/data/corpus
      - ./scripts:/scripts
    working_dir: /scripts
    command: >
        bash -c "pip install pymilvus sentence-transformers tqdm && python load_to_milvus.py"
    depends_on:
      - milvus

volumes:
  solr-db:
  doccano-db:
  milvus-data:
